<app-menu></app-menu>
<div class="container-xl">
	<div class="table-responsive">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-6">
						<h2>Gestion <b>Materias Prima</b></h2>
					</div>
					<div class="col-sm-6">
						<a href="#addMateriaPrimaModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Agregar Materia</span></a>
						<!-- <a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xE15C;</i> <span>Delete</span></a>						 -->
					</div>
				</div>
			</div>
			<mat-form-field>
				<input matInput (keyup)="applyFilter($event)" placeholder="Buscar">
			  </mat-form-field>
	  <table mat-table [dataSource]="dataSource" class="mat-table">
		  <!-- Header Row -->
		  <ng-container matColumnDef="nombre">
			  <th mat-header-cell *matHeaderCellDef>Nombre</th>
			  <td mat-cell *matCellDef="let dataSource">{{ dataSource.nombre }}</td>
		  </ng-container>
		  <ng-container matColumnDef="costo">
			  <th mat-header-cell *matHeaderCellDef>Costo Por Unidad</th>
			  <td mat-cell *matCellDef="let dataSource">{{ dataSource.costo }}</td>
		  </ng-container>
		  <ng-container matColumnDef="stock">
			  <th mat-header-cell *matHeaderCellDef>Stock</th>
			  <td mat-cell *matCellDef="let dataSource">{{ dataSource.stock }}</td>
		  </ng-container>
		  <ng-container matColumnDef="tipoMateriaPrima_Id">
			  <th mat-header-cell *matHeaderCellDef>Tipo Materia Prima</th>
			  <td mat-cell *matCellDef="let dataSource">
				  <div *ngFor="let dataSourceTipoMateriaPrima of dataSourceTipoMateriaPrima">
				  <div *ngIf="dataSource.tipoMateriaPrima_Id === dataSourceTipoMateriaPrima.id">
					  {{dataSourceTipoMateriaPrima.tipo}}
				  </div>
				  </div>
			  </td>
		  </ng-container>
		  <ng-container matColumnDef="proveedor_Id">
			  <th mat-header-cell *matHeaderCellDef>Proveedor</th>
			  <td mat-cell *matCellDef="let dataSource">
				  <div *ngFor="let dataSourceProveedor of dataSourceProveedor">
				  <div *ngIf="dataSource.proveedor_Id === dataSourceProveedor.id">
					  {{dataSourceProveedor.nombre}}
				  </div>
				  </div>
			  </td>
		  </ng-container>

		  <ng-container matColumnDef="acciones">
			  <th mat-header-cell *matHeaderCellDef>Acciones</th>
			  <td mat-cell *matCellDef="let dataSource">
				  <a href="#editMateriaModal" class="edit" data-toggle="modal" (click)="MateriaPrimaGet(dataSource);" ><i class="material-icons text-warning" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
				  <a href="#deleteMateriaModal" class="delete" data-toggle="modal" (click)="MateriaPrimaGet(dataSource);"><i class="material-icons text-danger" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
			  </td>
		  </ng-container>
  
		  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		  <tr mat-row *matRowDef="let dataSource,columns: displayedColumns;"></tr>
	  </table>
	  <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>
  
		</div>
	</div>        
</div>
<!-- Edit Modal HTML -->
<div id="addMateriaPrimaModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form (ngSubmit)="agregarMateriaPrima()">
				<div class="modal-header">						
					<h4 class="modal-title">Agregar Materia Prima</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">					
					<div class="form-group">
						<label>Nombre</label>
						<input type="text" class="form-control" name="nombre" [(ngModel)]="regMateriaPrima.nombre" placeholder="Nombre" required>
					</div>
					<div class="form-group">
						<label>costo por unidad</label>
						<input type="number" class="form-control" name="costo" [(ngModel)]="regMateriaPrima.costo" required>
					</div>
					<!-- <div class="form-group">
						<label>Stock</label>
						<input type="number" class="form-control" name="stock" [(ngModel)]="regMateriaPrima.stock" required>
					</div> -->
					<div class="form-group">
						<label>Tipo materia Prima</label>
						<select class="form-control" name="selectTipo" [(ngModel)]="selectTipoMateriaPrima" >
							<option *ngFor="let TipoMateriaPrima of dataSourceTipoMateriaPrima" [value]="TipoMateriaPrima.id">
								{{TipoMateriaPrima.tipo}}
							</option>
						</select>
						<!--<input type="text" class="form-control" name="tipoMateriaPrima_Id" [(ngModel)]="regMateriaPrima.tipoMateriaPrima_Id" required>-->
					</div>
					<div class="form-group">
						<label>Proveedor </label>
						<select class="form-control" name="selectProveedor" [(ngModel)]="selectProveedor" >
							<option *ngFor="let Proveedor of dataSourceProveedor" [value]="Proveedor.id">
								{{Proveedor.nombre}}
							</option>
						</select>
						<!--<input type="text" class="form-control" name="proveedor_Id" [(ngModel)]="regMateriaPrima.proveedor_Id" required> -->
					</div>						
				</div>
				<div class="modal-footer">
					<button id="closeAddModal" class="btn btn-default" data-dismiss="modal" style="display: none;"></button>
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
					<input type="submit" class="btn btn-success"  value="Añadir">
				</div>
			</form>
		</div>
	</div>
</div>
<!-- Edit Modal HTML -->
<div id="editMateriaModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form (ngSubmit)="editarMateriaPrima()">
				<div class="modal-header">						
					<h4 class="modal-title">Edit Materia Prima</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">					
					<div class="form-group">
						<label>Nombre</label>
						<input type="text" class="form-control" name="nombre" [(ngModel)]="regMateriaPrimaGet.nombre" placeholder="Nombre" required>
					</div>
					<div class="form-group">
						<label>costo por unidad</label>
						<input type="number" class="form-control" name="costo" [(ngModel)]="regMateriaPrimaGet.costo" required>
					</div>
					<div class="form-group">
						<label>Stock</label>
						<input type="number" class="form-control" name="stock" [(ngModel)]="regMateriaPrimaGet.stock" required>
					</div>
					<div class="form-group">
						<label>Tipo materia Prima</label>
						<select class="form-control" name="selectTipo" [(ngModel)]="selectTipoMateriaPrima" >
							<option *ngFor="let TipoMateriaPrima of dataSourceTipoMateriaPrima" [value]="TipoMateriaPrima.id">
								{{TipoMateriaPrima.tipo}}
							</option>
						</select>
						<!--<input type="text" class="form-control" name="tipoMateriaPrima_Id" [(ngModel)]="regMateriaPrimaGet.tipoMateriaPrima_Id" required> -->
					</div>
					<div class="form-group">
						<label>Proveedor </label>
						<select class="form-control" name="selectProveedor" [(ngModel)]="selectProveedor" >
							<option *ngFor="let Proveedor of dataSourceProveedor" [value]="Proveedor.id">
								{{Proveedor.nombre}}
							</option>
						</select>
						<!--<input type="text" class="form-control" name="proveedor_Id" [(ngModel)]="regMateriaPrimaGet.proveedor_Id" required>-->
					</div>						
				</div>
				<div class="modal-footer">
					<button id="closeEditModal" class="btn btn-default" data-dismiss="modal" style="display: none;"></button>
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
					<input type="submit"  class="btn btn-warning"  value="Editar">
				</div>
			</form>
		</div>
	</div>
</div>
<!-- Delete Modal HTML -->
<div id="deleteMateriaModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
				<div class="modal-header">						
					<h4 class="modal-title">Eliminar Materia Prima</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<p>{{regMateriaPrimaGet.nombre}}</p>					
					<p>Estas Seguro de eliminar esta materia Prima?</p>
					<p class="text-warning"><small>Esta Accion no se podra revertir.</small></p>
				</div>
				<div class="modal-footer">
					<button id="closeDeleteModal" class="btn btn-default" data-dismiss="modal" style="display: none;"></button>
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
					<input type="submit" class="btn btn-danger" (click)="eliminarMateriaPrima(regMateriaPrimaGet);" value="Borrar">
				</div>
		</div>
	</div>
</div>
