/* app-menu.component.css */
.dashboard-container {
  display: flex;
}

.sidenav {
  width: 250px;
  height: 100%;
  background-color: #393e53;
  padding-top: 20px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}
body { padding-left: 16em; font-family: Roboto, "Helvetica Neue", sans-serif; }

.sidenav a {
  padding: 16px 16px 16px 16px;
  text-decoration: none;
  font-size: 14px;
  color: #ffffff;
  display: block;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.element p{
  padding: 8px 8px 8px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
  display: block;
  background-color: #212741;
}

.sidenav a:hover {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.135);
}

.main-content {
  padding: 20px;
  margin-left: 10em;
}
